<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
<div class="jumbotron w-50 mx-auto">
<div class="container-fluid">
    <h3>DISHES</h3>
    <div th:each="dish : ${dishList}" class="border">
        <table class="table-striped m-3">
            <tr style="background: inherit">
                <td class="font-weight-bolder font-italic" th:text="${dish.getDescription()}"></td>
                <td th:text="'&#127829; ' + ${dish.getType()}"></td>
                <th class="numbers" th:text="${dish.getId()}"></th>
            </tr>
            <tr class="pris">
                <th th:text="'Pris: '+${dish.getPrice()}" class="pris"></th>
                <!--- Update knap bliver tilføjet her --->
                <a th:href="@{'edit-dish/'+${dish.getId()}}" style="float: right;">
                    <button class="btn-update" id="btn-update">EDIT</button>
                </a>
                <!--- Delete knap bliver tilføjet her --->
                <a th:href="@{'delete-dish/'+${dish.getId()}}" style="float: right;">
                    <button class="btn-update" id="btn-delete">DELETE</button>
                </a>
            </tr>
        </table>
    </div>
</div>
<div class="container-fluid">
    <h3>SIDES</h3>
    <div th:each="side : ${sideList}">
        <table class="table m-3">
            <tr>
                <td class="font-weight-bolder font-italic" th:text="${side.getDescription()}"></td>
                <th class="numbers" th:text="${side.getId()}"></th>
            </tr>
            <tr class="pris">
                <td>Pris:</td>
                <th th:text="${side.getPrice()}"></th>
                <a th:href="@{'edit-side/'+${side.getId()}}" style="float: right;">
                    <button class="btn-update">EDIT</button>
                </a>
                <a th:href="@{'delete-side/'+${side.getId()}}" style="float: right;">
                    <button class="btn-update">DELETE</button>
                </a>
            </tr>
        </table>
    </div>
</div>
<div class="container-fluid">
    <h3>DRINKS</h3>
    <div th:each="drink : ${drinkList}" class="border">
        <table class="table m-3">
            <tr>
                <td class="font-weight-bolder font-italic" th:text="${drink.getDescription()}"></td>
                <th class="numbers" th:text="${drink.getId()}"></th>
            </tr>
            <tr class="pris">
                <td>Pris:</td>
                <th th:text="${drink.getPrice()}"></th>
                <a th:href="@{'edit-drink/'+${drink.getId()}}" style="float: right;">
                    <button class="btn-update">EDIT</button>
                </a>
                <a th:href="@{'delete-drink/'+${drink.getId()}}" style="float: right;">
                    <button class="btn-update">DELETE</button>
                </a>
            </tr>
        </table>
    </div>
</div>
</div>
</div>
</body>
</html>