<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <title>Opret Ny Ret :: Esmeralda Pizza</title>
</head>
<body>
<h1>Hole in the wall!</h1>
<h2>Opret ny pizza</h2>
<form action="/save-dish" th:action="@{/save-dish}" method="post" th:object="${dish}">
    <div th:if="${#fields.hasAnyErrors()}">
        <p style="color: darkred" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
    </div>
        <table>
            <tr>
                <th>Rettens Navn</th>
                <td><input type="text" name="description" th:field="*{description}"></td>
            </tr>
            <tr>
                <th>Toppings</th>
                <td><input type="text" name="toppings" th:field="*{toppings}"></td>
            </tr>
            <tr>
                <th>Skriv Rettens Type</th>
                <td><input type="text" name="type" th:field="*{type}"></td>
            </tr>
            <tr>
                <th>Rettens Pris</th>
                <td><input type="number" name="price" th:field="*{price}"></td>

            </tr>
            <tr>
                <th><input type="submit"></th>
            </tr>
        </table>

</form>
</body>
</html>