<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <title>Opret Ny Ret :: Esmeralda Pizza</title>
</head>
<body>
<h1>Hole in the wall!</h1>
<h2>Opret ny pizza</h2>
<form action="/save-dish" method="post">
    <div th:if="${#fields.hasAnyErrors()}">
        <p style="color: darkred" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
        <table>
            <tr>
                <th>Rettens Navn</th>
                <td><input type="text" th:field="${dish.description}"></td>
            </tr>
            <tr>
                <th>Toppings</th>
                <td><input type="text" th:field="${dish.toppings}"></td>
            </tr>
            <tr>
                <th>Skriv Rettens Type</th>
                <td><input type="text" th:field="${dish.type}"></td>
            </tr>
            <tr>
                <th>Rettens Pris</th>
                <td><input type="number" th:field="${dish.price}"></td>
            </tr>
            <tr>
                <th><input type="submit"></th>
            </tr>
        </table>
    </div>
</form>
</body>
</html>