.container-fluid div:nth-child(even){
    background-color: burlywood;
}
.container-fluid div:nth-child(odd){
    background-color: lavender;
}
.numbers{
    float:right;
    align-content: end;
}
.pris{
    align-content: end;
    width:100%;
    float:right;
}
.table-striped{
    width: 90%;
}
.font-weight-bolder{
    width:40%;
}