.container-fluid div:nth-child(even){
    background-color: burlywood;
}
.container-fluid div:nth-child(odd){
    background-color: lavender;
}
.numbers{
    float:right;
    align-content: end;
}
.pris{
    align-content: end;
    width:100%;
    float:right;
}
.table-striped{
    width: 85%;
}
.font-weight-bolder{
    width:40%;
}
.table td, .table th{
    border-top:none;
}
.headline{
    text-align: center;
    margin-bottom: 50px;
}
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}