<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - Shopme Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <h1> 🍕</h1>
    </div>
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
<!--                                            logout - not implemented -->
<!--        <div th:if="${param.logout}"> -->
<!--            <p class="text-warning">Du er nu logget ud.</p>-->
<!--        </div>-->

        <div class="border border-secondary p-3 rounded">
            <p>Adgang til Esmeraldas Bagrum</p>
            <p>
                <input type="text" name="username" class="form-control" placeholder="Brugernavn" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required/>
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary"/>
            </p>
        </div>
    </form>

   <button class="btn btn-secondary"><a href="/sign-up" style="color: aliceblue">Sign Up</a></button>

</div>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title>Spring MVC - Login</title>-->

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--    <link rel="stylesheet" type="text/css" href="css/style.css"/>-->

<!--</head>-->
<!--<body>-->
<!--<h2>Login</h2>-->
<!--<form method="post" action="processLogin">-->


<!--            <label for="userName">Username</label>-->
<!--                <input name="userName" id="userName"/>-->

<!--            <label for="password">Password</label>-->
<!--                <input name="password" id="password"/>-->

<!--            <input type="submit" value="Login"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->